@media (min-resolution: 2dppx),
       (-webkit-min-device-pixel-ratio: 2) {

.pickers {
	display: none;
}
.coin-chart {
	width: 100%;
	margin: 0;
	flex: 1 1 auto;
}
.mobile-selector {
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	bottom: 34px;
	right: 0;
}
.mobile-selector label {
	border-left: 2px solid rgba(0,0,0,0);
	font-family: 'Bahnschrift Light Condensed', 'Yu Gothic Light', sans-serif;
	font-size: 11px;
	width: 28px;
	height: 27px;
	display: block;
	position: relative;
	left: 0px;
	padding-top: 7px;
	background: rgb(0,0,0,0);
	text-align: center;
}
input[type=radio] {
	width: 0;
	height: 0;
	opacity: 0;
	padding: 0;
	margin: 0;
}
input[type=radio]:checked + label {
	border-left: 2px solid #26aae1;
}

}
