body {
	overflow: auto;
  margin: 0;
  padding: 0;
}
.container {
	height: 100%;
	display: flex;
	flex-flow: row;
}
.pickers {
	flex: 0 0 15%;
	width: 15%;
	margin-top: 30px;
}
.interval-pick, .coin-pick, .to-currency-pick {
	margin: 7px;
}
.coin-chart {
	flex: 0 0 83%;
	width: 83%;
	height: 100%;
	margin: 9px;
}
.chart {
	height: 99%;
}
select {
	width: 100%;
	overflow: hidden;
}
label {
	position: relative;
	top: 3px;
	left: 7px;
}
select, input, label {
	background-color: #222;
	color: whitesmoke;
	opacity: 0.7;
}
.faded {
	opacity: 0.2;
}
.mobile-selector {
	display: none;
}


@media (min-resolution: 2dppx),
       (-webkit-min-device-pixel-ratio: 2) {

.pickers {
	display: none;
}
.coin-chart {
	width: 100%;
	height: 100%;
	margin: 0;
	flex: 1 1 auto;
}
.chart {
	height: 100%;
}
.mobile-selector {
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	bottom: 34px;
	right: 0;
}
.mobile-selector label {
	border-left: 2px solid rgba(0,0,0,0);
	font-family: 'Bahnschrift Light Condensed', 'Yu Gothic Light', sans-serif;
	font-size: 11px;
	width: 28px;
	height: 27px;
	display: block;
	position: relative;
	left: 0px;
	padding-top: 7px;
	background: rgb(0,0,0,0);
	text-align: center;
}
.radio {
	width: 0;
	height: 0;
	opacity: 0;
	padding: 0;
	margin: 0;
}
.radio:checked + label {
    border-left: 2px solid #26aae1;
}

}
