html, body {
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container {
	height: 100%;
	display: flex;
	flex-flow: row;
}
.pickers {
	flex: 0 0 15%;
	width: 15%;
	margin-top: 30px;
}
.interval-pick, .coin-pick, .to-currency-pick {
	margin: 7px;
}
.coin-chart {
	flex: 0 0 83%;
	width: 83%;
	height: 100%;
	margin: 9px;
}
.chart {
	height: 97%;
}
select {
	width: 100%;
	overflow: hidden;
}
label {
	position: relative;
	top: 3px;
	left: 7px;
}
select, input, label {
	background-color: #222;
	color: whitesmoke;
	opacity: 0.7;
}
.faded {
	opacity: 0.2;
}
.mobile-selector {
	display: none;
}
